@import url(../../blocks/movies/__card/movies__card.css);
@import url(../../blocks/movies/__img-wrapper/movies__img-wrapper.css);
@import url(../../blocks/movies/__img/movies__img.css);
@import url(../../blocks/movies/__name/movies__name.css);
@import url(../../blocks/movies/__like/movies__like.css);
@import url(../../blocks/movies/__like/_active/movies__like_active.css);
@import url(../../blocks/movies/__like/_delete/movies__like_delete.css);
@import url(../../blocks/movies/__time/movies__time.css);

/* .movies__card {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 20px;
  max-width: 100%;
  min-width: 260px;
  justify-content: space-between;
} */
/* .movies__img-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
.movies__img-wrapper::after {
  display: block;
  content: '';
  padding-top: 56.25%;
} */
/* .movies__img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */
/* .movies__name {
  margin: 13px 0;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: start;
  color: rgba(0, 0, 0, 1);
  white-space: pre-wrap;
  overflow: hidden;
  min-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */
/* .movies__like {
  margin: 10px 0;
  height: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 24px;
  background: center no-repeat url(../../images/save1d.svg);
  border: none;
  background-size: 24px 24px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.movies__like:hover {
  opacity: 0.8;
  transition: all 0.5s;
} */
/* .movies__like_active {
  background: center no-repeat url(../../images/save1.svg);
} */
/* .movies__like_delete {
  background: center no-repeat url(../../images/d1.svg);
} */
/* .movies__time {
  margin: 0;
  padding: 6px 0 0;
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid rgba(232, 232, 232, 1);
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: rgba(160, 160, 160, 1);
} */
