.movies {
  margin: 0;
  padding: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .movies {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}

