.about-me__photo {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 576px) {
  .about-me__photo {
    width: 292px;
    height: 352px;
    grid-column-start: 1;
    grid-row-end: 2;
  }
}
