.header__login-button {
  height: 32px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: rgba(43, 224, 128, 1);
  border-radius: 3px;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}
.header__login-button:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}
.header__login-button:focus {
  box-shadow: 0 0 0 5px rgba(253, 253, 253, 0.5);
  outline: 2px dashed rgba(107, 107, 107, 1);
  outline-offset: 2px;
}

@media screen and (max-width: 576px) {
  .header__login-button {
    font-size: 10px;
  }
}
