.header__login-button {
  height: 32px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #2be080;
  border-radius: 3px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .header__login-button {
    font-size: 10px;
  }
}
