.portfolio__container {
  margin: 100px 0 0;
  padding: 0;
}
.portfolio__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
}
.portfolio__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.portfolio__name-link {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}
.portfolio__line {
  margin: 19px 0 20px;
  border: 1px solid #e8e8e8;
}
