@import url(../../blocks/portfolio/portfolio.css);
@import url(../../blocks/portfolio/__title/portfolio__title.css);
@import url(../../blocks/portfolio/__list/portfolio__list.css);
@import url(../../blocks/portfolio/__link/portfolio__link.css);
@import url(../../blocks/portfolio/__name-link/portfolio__name-link.css);
@import url(../../blocks/portfolio/__line/portfolio__line.css);




.portfolio__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.portfolio__name-link {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}
.portfolio__line {
  margin: 19px 0 20px;
  border: 1px solid #e8e8e8;
}
