.footer__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}
.footer__link:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.footer__link:focus {
  transition: all 0.2s;
  box-shadow: 0 0 0 5px rgba(253, 253, 253, 0.5);
  outline: 2px dashed rgba(107, 107, 107, 1);
  outline-offset: 2px;
  border-radius: 3px;
}
@media screen and (max-width: 576px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
}
