.techs__list {
  margin: 100px auto 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}
