.more {
  margin: 50px 0 0;
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  background: #fff;
}

@media screen and (max-width: 576px) {
  .more {
    width: 240px;
  }
}
