.more {
  box-sizing: border-box;
  margin: 50px 0 0;
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 576px) {
  .more {
    width: 240px;
  }
}
