.footer {
  padding: 79px 70px 20px;
  margin: 0;
  background: #fafafa;
}

@media screen and (max-width: 992px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
