@import url(../../blocks/search/search.css);
@import url(../../blocks/search/__form/search__form.css);
@import url(../../blocks/search/__fieldset/search__fieldset.css);
@import url(../../blocks/search/__wrapper/search__wrapper.css);
@import url(../../blocks/search/__input/search__input.css);
@import url(../../blocks/search/__find/search__find.css);
@import url(../../blocks/search/__checkbox/search__checkbox.css);
@import url(../../blocks/search/__stick/search__stick.css);
@import url(../../blocks/search/__line/search__line.css);

/* .search {
  margin: 0 0 10px;
  width: 100%;
  min-height: 142px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .search {
    min-height: 182px;
  }
} */
/* .search__form {
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  padding: 0;
} */
/* .search__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: rgba(249, 249, 249, 1);
  border-radius: 9px;
  width: 100%;
  border: none;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 576px) {
  .search__fieldset {
    flex-wrap: wrap;
    background: none;
    border: none;
    gap: 35px;
  }
} */
/* .search__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  border-radius: 9px;
}
@media screen and (max-width: 576px) {
  .search__wrapper {
    background: rgba(249, 249, 249, 1);
  }
} */
/* .search__input {
  margin: 0;
  padding: 25px;
  width: 100%;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  min-height: 22px;
}
.search__input::placeholder {
  color: rgba(160, 160, 160, 1);
  padding-left: 38px;
  background: 0 50% no-repeat url(../../images/icon-find.svg);
  background-size: 22px;
}
@media screen and (max-width: 576px) {
  .search__input {
    padding-left: 19px;
    padding-right: 19px;
  }
  .search__input::placeholder {
    padding-left: 0;
    background: none;
  }
} */
/* .search__find {
  margin: 19px;
  padding: 0;
  background: right no-repeat url(../../images/find.svg);
  background-size: 34px;
  height: 34px;
  min-width: 34px;
  border: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.search__find:hover {
  opacity: 0.8;
  transition: all 0.5s;
} */
/* .search__checkbox {
  margin: 0 30px 0 19px;
}
@media screen and (max-width: 992px) {
  .search__checkbox {
    margin-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .search__checkbox {
    margin: 0;
  }
} */
/* .search__stick {
  margin: 10px;
  padding: 0;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(232, 232, 232, 1);
  border-left: none;
}
@media screen and (max-width: 992px) {
  .search__stick {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .search__stick {
    display: none;
  }
} */
/* .search__line {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: 0.5px solid rgba(232, 232, 232, 1);
}
@media screen and (max-width: 576px) {
  .search__line {
    margin-left: 4px;
    margin-right: 4px;
  }
} */
