.profile__label {
  margin: 0;
  padding: 17px 0 17px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
}
.profile__label:first-child {
  padding-top: 0;
}
.profile__label:last-child {
  padding-bottom: 0;
}
