.profile__label {
  margin: 0;
  padding: 17px 0 0;

  justify-content: space-between;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 4px;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
}
