.menu__exit {
  margin: 22px;
  background: center no-repeat url(../../../images/icon-close.svg);
  align-self: end;
  background-size: 32px 32px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}
.menu__exit:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}
.menu__exit:focus {
  transition: all 0.2s;
  box-shadow: 0 0 0 5px rgba(253, 253, 253, 0.5);
  outline: 2px dashed rgba(107, 107, 107, 1);
  outline-offset: 2px;
  border-radius: 3px;
}
@media screen and (max-width: 576px) {
  .menu__exit {
    margin: 14px;
  }
}
