.footer__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .footer__wrapper {
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 10px;
  }
}