.techs__name {
  margin: 0;
  padding: 0;
  width: 90px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(232, 232, 232, 1);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 992px) {
  .techs__name {
    width: 84px;
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
}
