.header__account-button {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}