.profile__input {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 1);
  border: none;
  background: none;
}
.profile__input:focus {
  transition: all 0.2s;
  box-shadow: 0 0 0 5px rgba(253, 253, 253, 0.5);
  outline: 2px dashed rgba(107, 107, 107, 1);
  outline-offset: 2px;
  border-radius: 3px;
}
.profile__input:invalid {
  color: rgba(238, 52, 101, 1);
  outline: 2px dashed rgba(238, 52, 101, 1);
  outline-offset: 2px;
  border-radius: 3px;
}

.profile__input:enabled {
  background: rgba(249, 249, 249, 1);
  border-radius: 3px;
  border: 1px solid rgba(160, 160, 160, 1);
}
