.content__title-line {
  margin: 23px 0 0;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 1);
  border-bottom: none;
}

@media screen and (max-width: 576px) {
  .content__title-line {
    margin-top: 28px;
  }
}
