.about-me__description {
  margin: 26px 0 0;
  padding: 0;
  max-width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
}

@media screen and (max-width: 992px) {
  .about-me__description {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 576px) {
  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }
}
