.search__stick {
  margin: 10px;
  padding: 0;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(232, 232, 232, 1);
  border-left: none;
}
@media screen and (max-width: 992px) {
  .search__stick {
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .search__stick {
    display: none;
  }
}